<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Cin7. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="CinSeven\APIExtension\Api\ProductInterface"
                type="CinSeven\APIExtension\Model\Products" />

</config>