<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    
    	<tab id="mlx" translate="label" sortOrder="0">
            <label>MLX-STORE</label>
        </tab> 
        
        <section id="guestwishlist" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
        
            <label>Guest Wishlist</label>
            <tab>mlx</tab>
            <resource>Mlx_GuestWishlist2::guestwishlist_configuration</resource> <!-- permission -->
           
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Guest</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ajax" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Ajax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="showmsg" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="class_has_item" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Class Marked Item</label>                    
                </field>
                
                <field id="addlink" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Top link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
           
            <group id="selector" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Selector</label>
                <field id="add" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add To Wishlist</label>                    
                </field>
                <field id="update" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Wishlist</label>                    
                </field>
                <field id="remove" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Remove From Wishlist</label>                    
                </field>
                <field id="cart" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add To Cart</label>                    
                </field>
            </group>
            
            <group id="translate" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Translate</label>
                <field id="add" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Wishlist</label>                    
                </field>
                <field id="remove" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove From Wishlist</label>                     
                </field>
                <field id="confirm" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Confirm Remove</label>                    
                </field>
                <field id="error" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Global Error</label>                    
                </field>
            </group>
            
            <group id="cart" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart Options</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display button "Move to Wishlist" in checkout cart.</comment>
                </field>
                <field id="keep_product" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Keep Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>We will keep product after move to wishlist.</comment>
                    <depends>
                        <field id="display">1</field>
                    </depends> 
                </field>
                <field id="keep" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Keep Item</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>We will keep wishlist item after add to cart.</comment>
                </field>
                
                
            </group>
        </section>
        
    </system>
</config>

