/**
 * @author Nir Goldman
 * @package NewsletterPopup
 */
.ontop {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
  transition: all 3s ease-in-out 0s;
  display: none; }
	
.send-friend-banner {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 2em;
}

.newsletter_close {
    float: right;
    position: absolute;
    background: #fff;
    min-width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    margin-left: 0px;
    z-index: 99;
		right:-6px;
		border:solid 1px #fff;
    line-height: 1.5rem;
    font-weight: 600;
    margin-top: -6px;
}
.newsletter-banner-text {
    position: absolute;
    width: 37%;
    left: 20px;
    top:34%;
    color: #231f20;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.newsletter-banner-heading {
    position: absolute;
    left: 0;
    top: 2%;
    left: 20px;
		margin:40px 0;
    color: #826867;
    font-size: 50px;
}

.newsletter_close:hover{color:#fff; background: #000;}

#newsletter-validate-detail .form-field {
    position: relative;
    float: left;
    width: 100%;
}
.send-friend-banner img {
    width: 100%;
}

#newsletter-validate-detail .form-field.from input {
    padding-left: 40px !important;
}

.popupWrapper {
  border-radius: 4px;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px #666666;
  padding: 30px 15px;
  /* Width of popup can be changed */
  width: 80%;
  max-width: 600px;
  z-index: 5001;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center; }

#popup {
  position: static;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

#popup .content {
  margin-left: 0;
  margin-top: 40px;
  width: 100%; }

#popup .title {
  background: none;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
  display: block;
  padding: 2px 10px; }

#popup .title > strong {
  font-weight: normal;
  font-size: 23px; }

#popup > .title > a {
  background-color: white;
  border-radius: 10px;
  color: black;
  line-height: 1;
  padding: 2px 5px;
  position: absolute;
  right: 10px;
  text-decoration: none; }

#popup .actions {
  clear: none;
  margin-top: 15px;
  position: static;
  text-align: right;
  width: 16%; }

#popup input {
  widht: 80%; }


@media (max-width:767px) {
.newsletter-banner-text {
    position: absolute;
    width: 80%;
    left: 20px;
    top:50%;
    color: #231f20;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.send-friend-wrapper {
    width: 600px;
    max-height: 500px;
}

.newsletter-banner-heading {
		margin:1px 0;

}


}

@media (max-width:360px) {
.newsletter-banner-text {
    position: absolute;
    width: 80%;
    left: 20px;
    top:50%;
    color: #231f20;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
	
	}

/*# sourceMappingURL=newsletter_popup.css.map */
